.app-header {
  background-color: white;
  box-shadow: 0px 1px 2px 0px black;
  height: 10vh;
  padding: 1em;
  display: flex;
  align-items: center;
}
.app-header {
  box-shadow: 0px 1px 2px 0px black;
  justify-content: space-between;

}
.app-header .img-logo{
  width: 38px;
}

.app-header h1 {
  font-weight: bold;
  font-family: Comfortaa;
  display: flex;
  align-items: center;
}