.note-preview {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    width: max-content;
    border: 1px solid #7c7c7c;
    border-radius: 5px;
    transition: box-shadow .2s;
}
.note-preview:hover {
    box-shadow: 0 0 5px 0px #7c7c7c;
}

.note-preview .note-info{
    width: 250px;
    overflow: hidden;
}

.note-preview button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 3em;
    background-color: rgba(0, 0, 0, 0);
}

.note-preview button:hover{
    background: radial-gradient( #B1B1B1 20%, #fff 71%);
}

.note-preview button>img {
    width: 24px;
}

.options {
    display: flex;
}

.pallete-holder{
    position: relative;
}
.pallete {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
    img{
        width: 252px;
    }
    iframe{
        width: 252px;
    }