.note-list {
    display: grid;
    gap: 10px;
    grid-template-rows: 26px 1fr 26px 1fr;
    overflow: auto;
    /* align-items: center; */
    padding-left: 10px;
}
.note-list .pin-notes{
    display: grid;
    /* grid-template-rows: 30px repeat(auto-fill,1fr); */
    grid-template-columns: repeat(auto-fill,262px);
    gap: 10px;
    justify-content: center;
}
.note-list .un-pin-notes{
    display: grid;
    /* grid-template-rows: 30px repeat(auto-fill,1fr); */
    grid-template-columns: repeat(auto-fill,262px);
    gap: 10px;
    justify-content: center;
}
.note-list .title{
    padding-left: 4.5%;
}
.note-list.fix-grid {
    grid-template-rows: 26px 1fr;
}