.note-add {
    display: grid;
    place-items: center;
}

.note-add form {
    box-shadow:0 0 4px 1px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
}
.note-add .btns{
    display: flex;
}

.note-add input, .note-add button{
    border: 0;
    background-color: white;
}

.note-add button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.note-add button:hover{
    background: radial-gradient( #B1B1B1 20%, #fff 71%);
}


.note-add img {
    width: 24px;
}

.first{
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
}
input:focus {
    outline: 0;
}

.last {
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
}

@media(max-width: 430px){
    .note-add form{
        width: 80%;
    }
    .note-add form input:first-child{
        border-start-end-radius: 10px;
    }
    .first, .btns{
        width: 100%;
    }
    .btns button:first-child{
        border-end-start-radius: 10px;
    }
}